name: Build

on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci --verbose

      - name: Run build
        run: npm run build

      - name: Build DXT File
        run: npx dxt pack packages/mcp-server contentful-mcp-server.dxt

      - name: Save Build folders
        uses: actions/cache/save@v5
        with:
          path: |
            build
            packages/mcp-server/dist
            packages/mcp-tools/dist
            contentful-mcp-server.dxt
          key: build-cache-${{ github.run_id }}-${{ github.run_attempt }}
